@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">El Vivero de Valentina</h1>
    <p>Tenemos una amplia variedad de plantas y de precios.</p>
    <img src="/images/3be49fc36b4b1db67458b58239dc4ad1.jpg" class="d-block w-100" />
</div>
